parameters:
	ignoreErrors:
		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 1
			path: Classes/Adapter/QueryBuilderAdapter.php

		-
			message: "#^Method Ssch\\\\Typo3Pagerfanta\\\\Adapter\\\\QueryBuilderAdapter\\:\\:getNbResults\\(\\) should return int\\<0, max\\> but returns int\\.$#"
			count: 1
			path: Classes/Adapter/QueryBuilderAdapter.php

		-
			message: "#^Method Ssch\\\\Typo3Pagerfanta\\\\Adapter\\\\QueryBuilderAdapter\\:\\:getSlice\\(\\) should return iterable\\<\\(int\\|string\\), T\\> but returns array\\<int, array\\<string, mixed\\>\\>\\.$#"
			count: 1
			path: Classes/Adapter/QueryBuilderAdapter.php

