parameters:
  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
  level: max
  paths:
    - Classes
    - Configuration
    - Tests

  inferPrivatePropertyTypeFromConstructor: true
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  ignoreErrors:
    -
        message: "#^Parameter \\#1 \\$maxPerPage of method Pagerfanta\\\\PagerfantaInterface\\<mixed\\>\\:\\:setMaxPerPage\\(\\) expects int\\<1, max\\>, int given\\.$#"
        count: 1
        path: Classes/View/FluidView.php
