includes:
    - phpstan-baseline.neon
parameters:
  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
  level: 8
  paths:
    - Classes
    - Configuration
    - Tests

  inferPrivatePropertyTypeFromConstructor: true
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  treatPhpDocTypesAsCertain: false
